#about-row {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.UW {
  color: rgb(56, 0, 121);
  font-weight: bold;
}
.image {
  height: 550px;
  width: 380px;
}

.about-wrapper {
  margin-top: 4%;
}

.about-text {
  font-size: 20px;
  margin-top: 0%;
}
